/* * {
  box-sizing: border-box;
} */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.title {
  text-align: center;
}
.by {
  text-align: center;
}
/* This creates the gradient background */
.page {
  background-color: #0093E9;
  background-image: linear-gradient(360deg, #0093E9 0%, #80D0C7 100%);
  /* background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%,#C850C0 46%, #FFCC70 100%); */
  /* background-color: lightskyblue; */
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
/* This adds the word "Score" before the score value */
#result-header {
  position: absolute;
  top: 0px;
  left: 20px;
  text-align: center;
  font-size: xx-large;
}
/* This is the score value positioning code */
#result {
  position: absolute;
  top: 0px;
  left: 100px;
  text-align: end;
  font-size: xx-large;

}
/* This adds the word "High Score" before the high score value */
#high-score-header {
  position: absolute;
  top: 0px;
  right: 100px;
  text-align: right;
  font-size: xx-large;
}
/* This is the high score value positioning code */
#high-score {
  position: absolute;
  top: 0px;
  right: -35px;
  text-align: end;
  font-size: xx-large;
}
/* This styles the button for Start/Next Round */
#advance {
  background-color: whitesmoke;
  position: absolute;
  top: 50px;
  left: 20px;
  text-align: end;
  font-size: xx-large;
  border-radius: 11px;
}
/* Holds Isometric Cards */
.grid-container {
    display: grid;
    /* grid-template-columns: auto auto auto auto auto; */
    grid-template-rows: auto auto auto auto;
    padding: 10px;
    height: auto;
    width: auto;
  }
  /* .col-1 {
    width: 20%;
    height:100%;

  }
  .row-1 {
    height:100%;
  }
  .col-2 {
    width: 40%;
  }
  .row-2 {
    height:100%;
  }
  .col-3 {
    width: 60%;
  }
  .row-3 {
    height:100%;
  }
  .col-4 {
    width: 80%;
  }
  .row-4 {
    height:100%;
  }
  .col-5 {
    width: 100%;
  } */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  /* .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  } */
/* Adds beautiful isometric cards in place of grid items. Styles them. Adds shadow for depth. */
  .isometric-card {
    margin: 0 auto;
    transform: rotateX(51deg) rotateY(-10deg) rotateZ(43deg);
    transform-style: preserve-3d;
    background-color: whitesmoke;
    will-change: transform;
    width: 210px;
    height: 280px;
    border-radius: 2rem;
    box-shadow: 1px 1px 0 1px #f9f9fb, -1px 0 28px 0 rgba(34, 33, 81, 0.01),
      28px 28px 28px 0 rgba(34, 33, 81, 0.25);
    transition: 0.4s ease-in-out transform, 0.3s ease-in-out box-shadow;
  }
  /* Adds isometric card hover response and animation, so that when hovering over a card, the card will animate. */
  .isometric-card:hover {
    transform: translate3d(20px, -16px, 0px) rotateX(45deg) rotateY(-15deg) rotateZ(43deg);
    box-shadow: 1px 1px 0 1px #f9f9fb, -1px 0 28px 0 rgba(34, 33, 81, 0.01),
      54px 54px 28px -10px rgba(34, 33, 81, 0.15);
  }
  /* Prevents overflow on different screens */
  body, html {
    overflow-x:hidden;
    resize: horizontal;
    overflow: auto;
  }
